* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: grid;
    min-height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    display: flex;
    grid-area: header;
    height: 120px;
}

.header {
    display: flex;
    width: 92%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;    
}

nav {
    display: flex;
    font-size: 18px;
    gap: 30px;
}

header button {
    height: 45px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #F7941E;
    color: #F7941E;
    font-size: 18px;
    transition: all 1s ease;
}

button:hover {
    box-shadow: inset 0 0 0 3px #000000;
}

main {
    grid-area: main;
}

.part1 {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 719px 618px;
}

.part1 div {
    background-color: #F1F1F2;
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 430px;
    margin: 0 auto;
    flex-wrap: wrap;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

#b1 {
    height: 60px;
    width: 200px;
    background-color: #F7941E;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 1s ease;
}

#b2 {
    height: 60px;
    width: 200px;
    background-color: #F1F1F2;
    color: #F7941E;
    border: #F7941E 1px solid;
    border-radius: 5px;
    transition: all 1s ease;
}

.part2 {
    display: flex;
    width: 100%;
    height: 820px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.text_choose {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    height: 180px;
    
}

.choose {
    display: grid;
    width: 80%;
    gap: 20px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 300px 166px;
    justify-content: space-between;
    
}

.part1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    padding: 10px;
    text-align: start;
    background-color: #FAFAFA;
    box-shadow: 5px 3px 4px 2px#F7941E;
}

.description h3{
    text-align: start;
    font-size: 30px;
    padding-bottom: 25%;
}

.part2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F7941E;;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #F7941E;
    height: 240px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

footer p {
    width: 400px;
    font-size: 32px;
}

#b3 {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: all 1s ease;
}

#b4 {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #F7941E;
    border: 1px solid black;
    color: black;
    transition: all 1s ease;
}

#b3:hover {
    box-shadow: inset 0 0 0 3px #F7941E;
}

span {
    font-weight: bold;
}